<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
    {% for account in accounts %}
        
        <li>
            <div>
                <p> {{ account.id }} <p>
                <p> {{ account.contact.first }} {{ account.contact.last }}<p>
                <p> {{ account.contact.email }} <p>
                <a href="/account/{{ account.id }}/orders" > orders </a>
                <a href="/account/{{ account.id }}/subscriptions" > subscriptions  </a>
            </div>
        </li>
        
    {% endfor %}
</ul>
    </body>
</html>
